[Unit]
Description=Run IAATENDE 2.0 queue worker continuously

[Timer]
OnBootSec=10s
OnUnitActiveSec=5s
Unit=iaatende-worker.service

[Install]
WantedBy=timers.target
