[Unit]
Description=ZapFluxo Gunicorn
After=network.target postgresql.service

[Service]
Type=notify
User=zapfluxo
Group=www-data
WorkingDirectory=/opt/zapfluxo
EnvironmentFile=/etc/zapfluxo/zapfluxo.env
RuntimeDirectory=zapfluxo
RuntimeDirectoryMode=0755
ExecStart=/opt/zapfluxo/venv/bin/gunicorn \
    --workers 3 \
    --bind unix:/run/zapfluxo/gunicorn.sock \
    --access-logfile - \
    --error-logfile - \
    app.wsgi:application
ExecReload=/bin/kill -s HUP $MAINPID
KillSignal=SIGQUIT
TimeoutStopSec=30
PrivateTmp=true
Restart=on-failure

[Install]
WantedBy=multi-user.target
